.bodyText {
		font-family: "Impact";
		font-size: 40px;
		font-weight: bold;
		line-height: 20px;
		letter-spacing: 20px;
	}

.bodyText2 {
	font-family: "Gloria Hallelujah";
	}

.bodyText3 {
	font-family: "Amatic SC";
	}