<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<h1>Welcome to the ZOO {{animals}}</h1>

<ul>
    {{#each pets }}
        <li><h1>Animal type: {{animalType}}</h1>
        <li><h1>Pet: {{pet}}</h1></li>
        <li><h1>Fierceness: {{fierceness}}</h1></li>
    {{/each}}
</ul>
